<h1>Make a new rental request!</h1>

<form action= "<%= @cat_rental_request.persisted? ? cat_rental_request_url(@cat_rental_request.id) : cat_rental_requests_url %>" method="post">

  <label for="cat_rental_choice">Choose cat</label>

  <select name="cat[color]" id="cat_rental_choice">
    <% @all_cats.each do |cat| %>
      <option value="<%=cat%>">
        <%=cat.name%>
      </option>
    <% end %>
  </select>
  <br>
</form>
